@media screen and (max-width:102px) {
	#bg-header{
		.col-sm-4{
			img{
				    position: relative;
    top: 23px;
			}
		}
		.col-sm-8{
			    width: 91%;
		ul{
			margin-top: 0; 
    		position: relative;
    		left: 100px;
    		bottom: 18px;
			li{
				a{
					margin: 0;
				}
			}
		}
	}
		
}